//ШРИФТЫ===============================
@import "resources/fonts.scss";
////===================================


//ПЕРЕМЕННЫЕ, ШАБЛОНЫ, МИКСИНЫ=========
@import "resources/variable.scss";
@import "resources/extend.scss";
@import "resources/mixins.scss";
////===================================


//ОБНУЛЕНИЕ============================
@import "null_stile.scss";
////===================================


//ОБЩИЕ ПАРАМЕТРЫ======================
body {
	font-family: $font-family;
}
////===================================


//ОБОЛОЧКА=============================
.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100%;
	overflow: hidden;
}
////===================================


//ОСНОВНАЯ СЕТКА=======================
.container {
	max-width: $container;
	margin: 0 auto;
}
////===================================


//ОСНОВНОЙ БЛОК========================

//==================  Блок header  ==================
@import "blocks/header.scss";

//==================  Блок slider-top  ==================
@import "blocks/slider-top.scss";

//==================  Блок tabs  ==================
@import "blocks/tabs.scss";

//==================  Блок tabs  ==================
@import "blocks/why.scss";

//==================  Блок tabs  ==================
@import "blocks/form.scss";

//==================  Блок footer  ==================
@import "blocks/footer.scss";
////=================================================


//АДАПТИВНАЯ ВЕРСТКА===================
@import "adaptive.scss";
////===================================
