//ШРИФТЫ===============================

//Шрифт по умолчанию (основной)========
$font-family: 'Segoe WP';
////===================================

//Остальные шрифты=====================
$fontFam-logo: 'MrsEaves';
$fontFam-footer: Arial;
////===================================


//ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР, СЕТКА======
$container: 1180px;
////===================================


//СВОЙСТВА БЛОКОВ======================

//general
$colorHF: #ffffff;
$colorCon: #4f4f4f;

//header
$opacityHeader: 0.67;

//tabs
$tabsWidth: 25%;
$tabsHeight: 300px;
$tabsColor: #797d7c;

//footer
$m-botTitle: 10px;
////===================================
