//Ограничивающая оболочка слайдера
.slick-list {
	overflow: hidden;
}
//Лента слайдов
.slick-track {
	display: flex; //Выстраивает слайды в ряд
}

.slider-top {
	z-index: 1;

	margin-top: -290px;

	// .slider-top__row
	&__row {
		position: relative;

		margin: 0 60px;

		& .slick-arrow {
			position: absolute;
			top: 25%;
			z-index: 1;

			width: 50px;
			height: 50px;

			font-size: 0;

			&.slick-prev {
				left: -55px;//Размещает стрелку слева
				background: url('../img/slider/left.png') 0 0 / 100% no-repeat;
			}
			&.slick-next {
				right: -55px;//Размещает стрелку справа
				background: url('../img/slider/right.png') 0 0 / 100% no-repeat;
			}
		}
	}

	// .slider-top__frame
	&__frame {
		display: flex;
		justify-content: center;
	}

	// .slider-top__image
	&__image {
		margin-right: 70px;
	}

	// .slider-top__body
	&__body {
		height: 290px;
		padding: 55px 0;
		overflow: auto;
	}

	// .slider-top__title
	&__title {
		font-size: 64px;
		font-weight: 600;

		color: $colorHF;
	}

	// .slider-top__description
	&__description {
		margin-bottom: 30px;

		font-size: 44px;
		font-weight: 300;

		color: $colorHF;
	}

	// .slider-top__button
	&__button {
		position: relative;
		top: 0;
		left: 4px;

		width: 138px;
		height: 38px;

		background-color: #246b49;

		text-align: center;

		@include animTransition {
			filter: brightness(130%);

			&:active {
				transform: scale(0.95);
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: -4px;
			left: -4px;

			width: 146px;
			height: 46px;

			border: 4px solid rgba(0,0,0,0.36);
			border-radius: 4px;
			opacity: 0.41;
		}
	}

	// .slider-top__link
	&__link {
		position: relative;

		display: block;

		font-size: 22px;

		color: $colorHF;
		line-height: 38px;
	}
}
